<h1><%= message.subject %></h1>

<p>Hi <%= @user.name %>,</p>

<p><%= "The price of #{@product.name} is below your desired price $#{@alert.desired}" %></p>

<%= link_to image_tag(attachments['product_image.jpg'].url), "http:#{alert.product.url}", target: "_blank" %>