<h1><%= message.subject %></h1>

<p>Hi <%= @user.name %>,</p>

<p>This is your staples product alert:</p>

<%= link_to email_image_tag("product_image", @product.load_image, alt: @product.name), "http:#{@product.url}", target: "_blank" %>