<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Desired Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.product.staples_pid %></td>
        <td><%= alert.product.name %></td>
        <td><%= alert.desired %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>