// Place all the styles related to the Alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_alert .field{
  display: inline-block;
}

.edit_alert .field{
  display: inline-block;
}