<h1><td><%= link_to "#{@product.name} price history", "http:#{@product.url}", target: "_blank" %></h1>

<table>
  <thead>
  <tr>
    <th>Price</th>
    <th>Update time</th>
  </tr>
  </thead>

  <tbody>
  <% @product.price_histories.each do |price_history| %>
      <tr>
        <td><%= "$#{price_history.price}" %></td>
        <td><%= "#{price_history.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y %H:%M %Z") }" %></td>
      </tr>
  <% end %>
  </tbody>
</table>